

@model Shop.ViewModels.ProductViewModel;

@{
    ViewData["Title"] = "Контактні дані";
}
<style>
    body {
        background-color: whitesmoke; /* Светлый фон для всего сайта */
        
    }

    .delivery-method {
        padding-left: 3mm; /* Відступ з лівого краю таблиці */
        padding-right: 3mm; /* Відступ з правого краю таблиці */
    }

    .delivery-image {
        max-width: calc(100% - 3mm); /* Розраховуємо ширину з урахуванням відступів */
        height: auto;
        display: block;
        margin: 5px auto; /* Відступи від країв фотографій усередині блоку доставки */
    }


    .card-header{
        background-color: white;
    }

 
   


    

    .col-4 {
        display: flex; /* Встановлюємо flex контейнер */
        justify-content: space-between; /* Рівномірно розподіляємо елементи по контейнеру */
    /* Відступ від нижнього краю контейнера */
    }

    .md-5 {
        white-space: nowrap; /* Забороняємо перенесення тексту на новий рядок */
        margin-right: 16cm; /* Встановлюємо відступ між елементами */
  
     
    }

    .pos{
        color: orange;
    }

    .carousel-inner {
        border: 2px solid gray; /* Чорна границя товщиною 2px */
        border-radius: 5px; /* Округлені кути */
    }


    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

   
    .carousel-item {
        display: flex;
        justify-content: center; /* Вирівнюємо по горизонталі по центру */
        max-width: 850px;
        max-height: 350px;
        margin-bottom: 4px; /* Доданий зазначений margin-bottom */
    }

    .d-block {
        max-width: 185px;
        max-height: 130px;
    }
</style>



<body>

  

</body>

<script>
   
</script>

