@page
@model LoginModel
@{
    ViewData["Title"] = "Увійти";
}
<style>
    body {
        background-color: rgba(255, 162, 45, 0.7); /* Змінюємо фон на вказаний колір */
    }

    .white-box {
        background-color: whitesmoke; /* Білий фон для дівів */
        padding: 35px; /* Зменшуємо внутрішній відступ */
        margin-top: 10px; /* Відступ від верху */
        border-radius: 5px; /* Закруглені кути */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
        max-width: 608px; /* Максимальна ширина */
        margin: 0 auto; /* Вирівнювання по центру */
    }

    .form-group {
        margin-bottom: 15px; /* Відступ між елементами форми */
    }

    .btn-custom {
        background-color: white;
        border-color: lightgray;
        width: 100%;
        margin-bottom: 10px;
    }

    .link {
        color: orange;
    }
</style>

<div class="white-box mt-5 ">
    <!-- Додаємо клас white-box -->
    <div class="text-center mt-3">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <button type="button" class="btn btn-custom d-flex justify-content-between align-items-center">
                    <span><small><b>Продовжити через Facebook</b></small></span>
                    <img src="~/facebook.png" style="height: 20px;">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                <button type="button" class="btn btn-custom d-flex justify-content-between align-items-center">
                    <span><small><b>Продовжити через Google</b></small></span>
                    <img src="~/google.png" style="height: 20px;">
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                <button type="button" class="btn btn-custom d-flex justify-content-between align-items-center">
                    <span><small><b>Продовжити через Apple</b></small></span>
                    <img src="~/apple.png" style="height: 20px;">
                </button>
            </div>
        </div>
        <div class="col-md-7 mx-auto mt-3" style="text-align: center; border-bottom: 2px solid black; line-height: 0;">
            <span style="background-color: whitesmoke; padding: 0 10px;"><b>або</b></span>
        </div>
    </div>

    <h2 class="mt-3" style="text-align: center; font-size: 13px;"><b>Увійти</b></h2>

    <div class="row">
        <div class="col-md-7 mx-auto">
            <form id="account" method="post">

                <!-- Видалено лінію <hr /> -->

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Електрона пошта" />
                
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" />
                
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
               

               

                <button id="login-submit" type="submit" class="btn btn-lg btn-warning col-md-12 style=" style="background-color: orange; color: white;">Увійти</button>
                <span class="col-md-12 "><small> <b>Новий користувач?</b> <a id="login" asp-area="Identity" asp-page="/Account/Register">Зареєструйтесь!</a></small></span>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
