@model Data.Entities.Product;
<h1>Створити нове оголошення</h1>
<form asp-action="Create" class="row g-3" enctype="multipart/form-data">
    <div class="col-md-12">
        <label asp-for="Name" method="post" class="form-label">Назва</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву товару">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
  </div>

  <div class="col-md-6">
        <label asp-for="Price" class="form-label">Ціна</label>
        <input asp-for="Price" type="number" class="form-control" placeholder="Введіть ціну">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>

  <div class="col-md-6">
        <label asp-for="Discout" class="form-label">Знижка</label>
        <input asp-for="Discout" type="number" class="form-control" placeholder="Введіть знижку">
        <span asp-validation-for="Discout" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
     
        <label asp-for="CategoryId" class="form-label">Категорії</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">Виберіть категорію </select>
        <span asp-validation-for="CategoryId" class="form-text text-danger"></span>
    </div>
   @*  фотономер1 *@
   <div class="col-md-12">
        <label asp-for="UploadImages" method="post" class="form-label">Додайте фото вашого продукту</label>
        <input asp-for="UploadImages" type="file" name="UploadImages" class="form-control" >
        <span asp-validation-for="UploadImages" class="form-text text-danger"></span>
</div>
    @*  фотономер2 *@
    <div class="col-md-12">
        <label asp-for="UploadImages" method="post" class="form-label">Додайте фото вашого продукту</label>
        <input asp-for="UploadImages" type="file" name="UploadImages" class="form-control">
        <span asp-validation-for="UploadImages" class="form-text text-danger"></span>
    </div>
    @*  фотономер3 *@
    <div class="col-md-12">
        <label asp-for="UploadImages" method="post" class="form-label">Додайте фото вашого продукту</label>
        <input asp-for="UploadImages" type="file" name="UploadImages" class="form-control">
        <span asp-validation-for="UploadImages" class="form-text text-danger"></span>
    </div>
    @*  фотономер4 *@
    <div class="col-md-12">
        <label asp-for="UploadImages" method="post" class="form-label">Додайте фото вашого продукту</label>
        <input asp-for="UploadImages" type="file" name="UploadImages" class="form-control">
        <span asp-validation-for="UploadImages" class="form-text text-danger"></span>
    </div>
    @*  фотономер5 *@
    <div class="col-md-12">
        <label asp-for="UploadImages" method="post" class="form-label">Додайте фото вашого продукту</label>
        <input asp-for="UploadImages" type="file" name="UploadImages" class="form-control">
        <span asp-validation-for="UploadImages" class="form-text text-danger"></span>
    </div>


    <div class="col-mb-12">
        <label asp-for="Description" class="form-label">Додайте Опис</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Введіть опис товару"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">

        <label asp-for="DistrictId" class="form-label">Місцезнаходження</label>
        <select asp-for="DistrictId" asp-items="@ViewBag.DistrictList" class="form-select">Область </select>
        <span asp-validation-for="DistrictId" class="form-text text-danger"></span>
    </div>
    <div class="col-12">
            <div class="form-check">
            <input asp-for="Has_Delivery" class="form-check-input" type="checkbox" >
                    <label asp-for="Has_Delivery" class="form-check-label"> Bag Доставка</label>
                    <span asp-validation-for="Has_Delivery" class="form-text text-danger"></span>
            </div>
    </div> 
    <div class="col-md-12">

    
        <label asp-for="Username" method="post" class="form-label">Контактна особа</label>
        <input asp-for="Username" type="text" class="form-control" placeholder="Ім'я">
        <span asp-validation-for="Username" class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="Phonenumber" class="form-label">Номер телефону</label>
        <input asp-for="Phonenumber" type="number" class="form-control" placeholder="+380">
        <span asp-validation-for="Phonenumber" class="form-text text-danger"></span>
  
    </div>
  

 

    <div class="col-6">
        <a asp-action="Index" asp-controller="Profil" class="btn btn-secondary w-100">Back</a>
    </div>


  <div class="col-6">
    <button type="submit" class="btn btn-success w-100">Готово</button>
  </div>
</form>