@model Data.Entities.Product;

<h1>Update Product Information</h1>

<form asp-action="Edit" method="post" class="row g-3">
    <input asp-for="Id" hidden />

    <div class="col-md-12">
        <label asp-for="Name"  class="form-label">Name</label>
      <input asp-for="Name" type="text" class="form-control" placeholder="Enter product name">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
  </div>

  <div class="col-md-6">
        <label asp-for="Price"  class="form-label">Price</label>
        <input asp-for="Price"  class="form-control"  placeholder="Enter product price">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>

  <div class="col-md-6">
        <label asp-for="Discout" class="form-label">Discout</label>
        <input asp-for="Discout"  class="form-control" placeholder="Enter product discout">
        <span asp-validation-for="Discout" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">

        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select"> </select>
        <span asp-validation-for="CategoryId" class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">

        <label asp-for="ImageUrl" class="form-label">Image</label>
        <textarea asp-for="ImageUrl" class="form-control" rows="1" placeholder="Enter product Image(Url)"></textarea>
        <span asp-validation-for="ImageUrl" class="form-text text-danger"></span>
    </div>
    <div class="col-mb-12">
        <label asp-for="Description" class="form-label" type="text">Description</label>
        <textarea asp-for="Description" class="form-control"  rows="3" placeholder="Enter product discription"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>
    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-12">

            <label asp-for="DistrictId" class="form-label">District</label>
            <select asp-for="DistrictId" asp-items="@ViewBag.DistrictList" class="form-select"> </select>
            <span asp-validation-for="DistrictId" class="form-text text-danger"></span>
        </div>
    }

  <div class="col-12">
        <div class="form-check">
   <input asp-for="InStock" class="form-check-input" type="checkbox" >
      <label asp-for ="InStock" class="form-check-label">
       In Stock
     </label>
             <span asp-validation-for="InStock"class="form-text text-danger"></span>
    </div>
  </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary w-100">Back</a>
    </div>


  <div class="col-6">
    <button type="submit" class="btn btn-success w-100">Edit</button>
  </div>
</form>