@* @model Data.Entities.Product;

<h1>Оновити данні продукта</h1>

<form asp-action="Edit" method="post" class="row g-3">
    <input asp-for="Id" hidden />

    <div class="col-md-12">
        <label asp-for="Name" class="form-label">Введіть назву товару</label>
      <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву товару">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
  </div>

  <div class="col-md-6">
        <label asp-for="Price"  class="form-label">Ціна</label>
        <input asp-for="Price"  class="form-control"  placeholder="Введіть ціну">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>

  <div class="col-md-6">
        <label asp-for="Discout" class="form-label">Знижка</label>
        <input asp-for="Discout"  class="form-control" placeholder="Введіть знижку">
        <span asp-validation-for="Discout" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">

        <label asp-for="CategoryId" class="form-label">Категорії</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">Виберіть категорію</select>
        <span asp-validation-for="CategoryId" class="form-text text-danger"></span>
    </div>
    <div class="col-md-12">

        <label asp-for="ImageUrl" class="form-label">Додайте фото вашого продукту</label>
        <textarea asp-for="ImageUrl" class="form-control" rows="1" placeholder="Введіть посилання на фотографію(Url)"></textarea>
        <span asp-validation-for="ImageUrl" class="form-text text-danger"></span>
    </div>
    <div class="col-mb-12">
        <label asp-for="Description" class="form-label" type="text">Додайте Опис</label>
        <textarea asp-for="Description" class="form-control"  rows="3" placeholder="Введіть опис товару"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div
   
        <label asp-for="CreatedDate" class="form-label" type="text">Додайте Опис</label>
        <textarea asp-for="CreatedDate" class="form-control"  rows="3" placeholder=""></textarea>
        <span asp-validation-for="CreatedDate" class="form-text text-danger"></span>
 >
    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-12">

            <label asp-for="DistrictId" class="form-label">District</label>
            <select asp-for="DistrictId" asp-items="@ViewBag.DistrictList" class="form-select"> </select>
            <span asp-validation-for="DistrictId" class="form-text text-danger"></span>
        </div>
    }

  <div class="col-12">
        <div class="form-check">
   <input asp-for="InStock" class="form-check-input" type="checkbox" >
      <label asp-for ="InStock" class="form-check-label">
      В наявності
     </label>
             <span asp-validation-for="InStock"class="form-text text-danger"></span>
    </div>
  </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary w-100">Назад</a>
    </div>


  <div class="col-6">
    <button type="submit" class="btn btn-success w-100">Готово

    </button>
  </div>
</form> *@
@model Data.Entities.Product;

<h1>Оновити данні продукта</h1>

<form id="productForm" asp-action="Edit" method="post" class="row g-3">
    <input asp-for="Id" hidden />

    <div class="col-md-12">
        <label asp-for="Name" class="form-label">Введіть назву товару</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Введіть назву товару">
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Price" class="form-label">Ціна</label>
        <input asp-for="Price" class="form-control" placeholder="Введіть ціну">
        <span asp-validation-for="Price" class="form-text text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Discout" class="form-label">Знижка</label>
        <input asp-for="Discout" class="form-control" placeholder="Введіть знижку">
        <span asp-validation-for="Discout" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="CategoryId" class="form-label">Категорії</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList" class="form-select">Виберіть категорію</select>
        <span asp-validation-for="CategoryId" class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="ImageUrl" class="form-label">Додайте фото вашого продукту</label>
        <textarea asp-for="ImageUrl" class="form-control" rows="1" placeholder="Введіть посилання на фотографію(Url)"></textarea>
        <span asp-validation-for="ImageUrl" class="form-text text-danger"></span>
    </div>

    <div class="col-mb-12">
        <label asp-for="Description" class="form-label" type="text">Додайте Опис</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Введіть опис товару"></textarea>
        <span asp-validation-for="Description" class="form-text text-danger"></span>
    </div>


    @* <div class="col-md-12">
        <label asp-for="CreatedDate" class="form-label">Дата створення</label>
        <input asp-for="CreatedDate" class="form-control" rows="1" placeholder="">
        <span asp-validation-for="CreatedDate" class="form-text text-danger"></span>
    </div>
 *@
    @if (User.IsInRole("Administrator"))
    {
        <div class="col-md-12">
            <label asp-for="DistrictId" class="form-label">District</label>
            <select asp-for="DistrictId" asp-items="@ViewBag.DistrictList" class="form-select"> </select>
            <span asp-validation-for="DistrictId" class="form-text text-danger"></span>
        </div>
    }

    <div class="col-12">
        <div class="form-check">
            <input asp-for="InStock" class="form-check-input" type="checkbox">
            <label asp-for="InStock" class="form-check-label">
                В наявності
            </label>
            <span asp-validation-for="InStock" class="form-text text-danger"></span>
        </div>
    </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-secondary w-100">Назад</a>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Готово</button>
    </div>
</form>
