﻿@using Data.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style>
    .navbar-nav.ml-auto {
        margin-left: 150px; /* Используйте "auto", чтобы сдвинуть блок вправо */
    }

    .nav-link {
        margin-right: 30px; /* Подстройте отступ по мере необходимости */
    }

    .navbar-nav .nav-item {
        margin-right: 15px; /* Расстояние между nav-item. Подстройте по мере необходимости */
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        height: 100%; /* Устанавливаем высоту nav-link на 100% */
    }

        .navbar-nav  img {
            margin-right: 5px; /* Расстояние между изображением и текстом внутри nav-link. Подстройте по мере необходимости */
        }

    .navbar-nav.ml-auto {
        justify-content: flex-end; /* Выравнивание вправо для nav-item */
    }



    .navbar-nav .dropdown-menu .nav-link {
        display: block;
        width: 100%; /* Занимает всю ширину контейнера */
        height: 100%; /* Устанавливаем высоту nav-link в выпадающем меню на 100% */
    }

        .navbar-nav .dropdown-menu .nav-link img {
            margin-right: 5px;
        }
</style>







<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
    
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
                
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="25px" height="25px" src="~/user.png" />
                            </a>
                           
                            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                <li class="nav-item">

                                    <form class="form-inline">
                                        <button class="nav-link btn btn-link form-inline text-dark">Вітання @UserManager.GetUserName(User)!</button>
                                    </form>
                                </li>
                                <hr/>
                                @if (User.IsInRole("User"))
                                {
                                    <li class="nav-item">

                                        <form  class="form-inline">
                                            <button class="nav-link btn btn-link form-inline text-dark" asp-controller="Profil" asp-action="Index">Оголошення</button>
                                        </form>
                                    </li>

                                    <li class="nav-item">

                                        <form class="form-inline" >
                                            <button class="nav-link btn btn-link form-inline text-dark" asp-controller="Profil" asp-action="Settings">Налаштування</button>
                                        </form>
                                    </li>
                                    <li class="nav-item">
                                        <form  class="form-inline" >
                                            <button class="nav-link btn btn-link form-inline text-dark" asp-controller="Profil" asp-action="BilBag">Платежі Bag</button>
                                        </form>
                                    </li>

                                    <li class="nav-item">
                                        <form class="form-inline" >
                                            <button class="nav-link btn btn-link form-inline text-dark" asp-controller="Profil" asp-action="BagDelivery">Bag доставка</button>
                                        </form>

                                    </li>

                                    <hr/>
                                }
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "CategoriesMenu", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Вийти</button>
                                    </form>
                               </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img width="25px" height="25px" src="~/user.png" />
                            </a>

                             <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">


                                <li class="nav-item">

                                    <form class="form-inline">
                                        <button class="nav-link btn btn-link form-inline text-dark" asp-area="Identity" asp-page="/Account/Register">Увійти в обліковий запис</button>
                                    </form>
                                </li> 
                              
                            </ul > 
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
       
    }

    
</ul>
