@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка 404 - Страница не найдена</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
        }

        .error-container {
            text-align: center;
        }

        .error-image {
            width: 150px;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 30px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="error-container">
        <img class="error-image" src="ErrorEmage.png" alt="Error 404">
        <h1>Ошибка 404</h1>
        <p>Страница не найдена</p>
        <p>Вернуться на <a href="/">главную страницу</a></p>
    </div>
</body>
</html>
